body {
    background-color: #cccccc;
}
header a {
    color: #ffffff;
    text-decoration: none;
}
#pagewrap {
    margin: 20px auto;
    width: 75%;
}
.noteitem {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}
div p a {
    color: teal;
    text-decoration: none;
}